{% from 'macros/_field.html' import render_field %}

{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <ol class="breadcrumb">
        <li class="active">Edit Exmple</li>
    </ol>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ request.url }}">
        {{ form.hidden_tag() }}
        <h3 class="form-heading">Edit exmple <em>{{ exmple.name }}</em></h3>
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
        </dl>
        <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
    </form>
{% endblock %}

{% block footer %}
{% endblock %}