{% from 'macros/_field.html' import render_field %}

{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('.list') }}">Admin</a></li>
        <li><a href="{{ url_for('.list') }}">Users</a></li>
        <li class="active">Add Example</li>
    </ol>
{% endblock %}

{% block body %}
    <form method="POST" action="{{ request.url }}">
        <h3 class="form-heading">Add example</h3>
        <dl>
            {{ render_field(form) }}
        </dl>
        <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
    </form>
{% endblock %}

{% block footer %}
{% endblock %}