{% extends "layout.html" %}

{% block content %}
    <div class="container mx-auto ">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <a href="{{ url_for('home_bp.home') }}">Home</a>
        <a href="{{ url_for('example_bp.example_create') }}">Create</a>
        <ul>
            {% for example in examples %}
            <li>{{ example.name }} | 
                <a href="{{ url_for('example_bp.show_example', example_id=example.id)}}">Edit</a> | 
                <a href="{{ url_for('example_bp.example_delete', example_id=example.id)}}">Delete</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}