<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title -%}{%- endblock %}</title>


        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

</head>
<body>
    {% include 'macros/navigation.html' %}
    <div class="container mx-auto  px-3 py-1">
        {% block header -%}{%- endblock %}
        {% block content -%}{%- endblock %}
        {% block footer -%}{%- endblock %}
    </div>

</body>
</html>