<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title -%}{%- endblock %}</title>

    {% assets "main_css" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
</head>
<body>
    {% include 'macros/navigation.html' %}
    <div class="container">
        {% block header -%}{%- endblock %}
        {% block body -%}{%- endblock %}
        {% block footer -%}{%- endblock %}
        <hr />
        <ul class="list-inline text-center">
            <li><a href="#">Something</a></li>
        </ul>
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2021 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html>